<app-logout></app-logout>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

        <h2>Transfer Amount</h2>

    <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>


        <div class="form-group">

            <label>Account ID: </label> <br>

            <input required min="10000" type="number"  #accountId='ngModel' name="accountId" ngModel class="form-control">

            
        </div>
        <div class="form-group">

            <label>Receiver Account ID: </label> <br>

            <input required min="10000" type="number"  #receiveraccountId='ngModel' name="receiveraccountId" ngModel class="form-control">

            
        </div>
        <div class="form-group">

            <label>Enter Amount: </label> <br>

            <input required type="number"  #amount='ngModel' name="amount" ngModel class="form-control">

            
        </div>
       
        <div>
        
        <input [disabled]="userForm.invalid" type="submit"  value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
<br>
<div class="container">
    <h2>{{output}}</h2>
</div>